environment:
  matrix:
    - TARGET: x86_64-pc-windows-msvc
install:
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -vV
  - cargo -vV
build: false
test_script:
  - cargo build --verbose --manifest-path lettre/Cargo.toml
  - cargo test --verbose --manifest-path lettre_email/Cargo.toml
  
